@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";

/* components */
@import "components/header.css";
@import "components/item-component.css";
/* Screens */
@import "screens/first-screen.css";
@import "screens/second-screen.css";
@import "screens/third-screen.css";
@import "screens/last-screen.css";

body {
  color: black;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}
