.cj-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 60px;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  z-index: 99;
}
.cj-header__column {
  width: 33%;
}
.cj-header__column:first-child img {
  width: 100px;
  height: 50px;
}
.cj-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
}
.cj-header__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.cj-header__list {
  margin: 0px 20px;
}
.cj-header__column:last-child i {
  margin-left: 30px;
}
